
@{
    ViewData["Title"] = "SanPham";
}

<h1>Sản Phẩm</h1>
@model SanPhamViewModel
<ul>
    <li><img src="~/images/anhlaptop.webp" width="200px" height="200px"/></li>
    <li>Tên Sản Phẩm: @ViewBag.NamePD</li>
    <li>Giá: @ViewBag.Price</li>
</ul>
   

