
@{
    ViewData["Title"] = "Index";
}
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

    <header>
        <h2>GIỚI THIỆU NHÓM</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="~/trang-chu">Bản thân</a></li>
                <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
            </ul>
        </nav>
    <article>
    <table style="width:100%">
            <tr>
                <th>STT</th>
                <th>MSSV</th>
                <th>Ho va Ten</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1822040788</td>
                <td>Nguyen Hong Son</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1822040</td>
                <td>Pham Thanh Tung</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1822040</td>
                <td>Nguyen Thi Khanh Van</td>
            </tr>
    </table>
        </article>

</body>
<footer>
    <p>Copyright &copy; Nguyen Hong Son - @DateTime.Now.Year</p>
</footer>
